header{margin-left: 600px;



}




nav{margin-left: 800px;
    font-size: 15px;
    cursor:pointer




}


#primera{
margin-left: 700px;
margin-top: 100px;




}


.encabezado{margin-left: 800px;
    margin-top: 300px;
    font-size: 30px;



}

.imagenes{

margin-left: 300px;
cursor:pointer


}


